@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

$color-success: #0ec500
$color-warning: #ccb973
$color-danger: #d75d5d

.bg-success
  background-color: $color-success
.bg-warning
  background-color: $color-warning
.bg-danger
  background-color: $color-danger